<app-nav></app-nav>
<div class="container" style="margin-top: 50px;">
  <ul class="testclass" *ngFor="let user of users">
    <li class="bold" >
      {{user.id}}: {{user.userName}} 
    </li>
    <li>
      Salt: {{user.passwordSalt}}
    </li>
    <li>
      Hash: {{user.passwordHash}} 
    </li>
  </ul>
  <ul class="ulClassNmae"></ul>
</div>
<router-outlet></router-outlet>

<span dropdown>
  <a href id="basic-link" dropdownToggle (click)="false"
     aria-controls="basic-link-dropdown">Click me for a dropdown, yo!</a>
  <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="basic-link">
      <a class="dropdown-item" href="#">asdfdfafaf</a>
  </ul>
</span>