.card {
  border: none;
}

.chat{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border: 1px dotted blue;
}


.rounded-circle{
  max-height: 50px;
}
